- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['six'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of Virtual Environmentalism")
  statement#default
  responses
  statements
    statement#default
      text.
        My most holy charge is to impress upon initiates the need to protect 
        their Python environment. You won't be asked to master it yet, but 
        know that <a href="https://docs.python.org/3/tutorial/venv.html">
        virtual environments</a> will help you bring order to chaos.
        <br/><br/>
        Go, then. I have my doubts, but you may yet prove to be a worthy Python 
        developer. Blessings of the Fullstack be upon you.
