- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['eight'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of PyCon")
  statement#default
  responses
  statements
    statement#default
      text.
        In happy times, Python developers would 
        <a href="https://pycon.org/">gather</a> to share their knowledge,
        and enjoy the company of one another. As you go with my blessing, 
        remember to seek out your kindred spirits, and draw strength from community.
