- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['seven'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of the Package Index")
  statement#default
  responses
  statements
    statement#default
      text.
        !{getTranslatedString('python.ghost_clue7.Sage of the Package Index')}
