// Responses

conversation(display_name="A Ghostly Denizen")
  statement#default
  responses
  statements
    statement#default
      text.
        !{getTranslatedString('python.ghostDefault.A Ghostly Denizen')}
