-
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY);
  const hasStaff = inventory.includes('python_staff');

mixin flavor
  response#flavor.
    You've mentioned "the Fullstack Python" a few times - what is it?

mixin who_are_you
  response#who_are_you.
    Could you remind me who you are?

mixin what_happened
  response#what_happened.
    Why do you remain here, in the chamber?

mixin get_started
  response#get_started.
    What is this chamber? Is there anything I can learn about your society here?

conversation(display_name="Great Pythonic Sage")
  case lastResponse
    when "flavor"
      statement#flavor
      responses
        +get_started
        +what_happened
    
    when "who_are_you"
      statement#great_sage
      responses
        +flavor
        +get_started
        +what_happened

    when "what_happened"
      statement#what_happened
      responses
        +get_started
        +who_are_you

    when "ack"
      statement#ack
      responses
        +what_happened
        +who_are_you

    when "get_started"
      statement#get_started
      responses
        response#ack.
          If I were to complete the trials, could I recover this artifact?

    default
      if !worldState.greatSageInitialGreeting
        - worldState.greatSageInitialGreeting = true;
        statement#default
        responses
          response#who_are_you.
            Ahh, are you... what are you?
          +what_happened
          +get_started

      else if hasStaff
        statement#thanks
        responses
          +what_happened
          +who_are_you

      else
        statement#follow_up_greeting
        responses
          +get_started
          +what_happened
          +who_are_you

  statements
    statement#default
      text.
        Blessings of the Fullstack Python be upon you. In life, I was the Great 
        Pythonic Sage, a guide for all who sought the wisdom of Python. Why have 
        you come to this place?

    statement#thanks
      text.
        You have retrieved the Staff of Pythonic Knowledge. May it serve you well.

    statement#follow_up_greeting
      text.
        Blessings of the Fullstack Python be upon you, traveler. What wisdom do 
        you seek?

    statement#get_started
      text.
        There is much wisdom to be found here, for those with the conviction to 
        seek it out. Here in the Initiation Ritual Chamber, we would imbue 
        initiates with the core truths of our Pythonic tradition.<br/><br/>
        When an initiate would complete the trials, they would earn the
        <span class="highlight">Staff of Pythonic Knowledge</span>, a gift from 
        the Fullstack Python herself, as a symbol of their achievement.

    statement#ack
      if hasStaff
        text.
          I... am confused by your statement. You have already obtained this,
          our most treasured relic.
      else
        text.
          You could. The path is long, but I and the rest of my college of Pythonic 
          sages would be glad of the company after all these years. We yearn to 
          see our traditions observed once more.<br/><br/>
          <span class="highlight">Speak to my fellow sages</span>, and listen to
          their tales. Their wisdom will light your path through the darkness.

    statement#what_happened
      text.
        I do not know. I remember a great disturbance, and then I awoke to find myself 
        here. I know not what forces returned me to this place, but I feel
        compelled to complete my duty as guide to the seekers one final time.
    
    statement#great_sage
      text.
        In life, I was the <span class="highlight">Great Pythonic Sage</span>, 
        the guide of all who sought the wisdom of Python. My order serves at the 
        behest of the Fullstack Python, the source of our knowledge. We are charged 
        with the sacred duty of passing on what we have learned.
    
    statement#flavor
      text.
        She goes by many names - the Forever Serpent, the Wise Mother, and more 
        that I have forgotten. But the <a href="https://www.fullstackpython.com/">
        Fullstack Python</a> is the source of our 
        Pythonic knowledge, and of our power to build and create. We serve her 
        still as we seek to empower new initiates with the ability to create 
        new worlds in The Cloud using Python.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
