- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['one'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of Significant Whitespace")
  statement#default
  responses
  statements
    statement#default
      text.
        Thank you, initiate, for observing our sacred traditions. In life, I 
        would extoll the virtues of significant whitespace, and help my charges 
        cast off the shackles of curly braces and line terminators.<br/><br/>
        Today, I leave you with my knowledge, and one step closer to the prize 
        that you seek. May you always walk the path of the Fullstack.
