- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['one'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of Significant Whitespace")
  statement#default
  responses
  statements
    statement#default
      text.
        !{getTranslatedString('python.ghost_clue1.Sage of Significant Whitespace')}
