- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['six'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of Virtual Environmentalism")
  statement#default
  responses
  statements
    statement#default
      text.
        !{getTranslatedString('python.ghost_clue6.Sage of Virtual Environmentalism')}
