- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['nine'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of Pandas")
  statement#default
  responses
  statements
    statement#default
      text.
        Oh ho! Did you know Python is the go-to programming language for data 
        scientists across the Cloud? I give all the credit to my sweet, adorable 
        <a href="https://pandas.pydata.org/">pandas</a>.
        <br/><br/>
        Go forth bravely with my knowledge initiate, and may the Forever Serpent 
        squeeze you until you burst! With programming skills, I mean!
