- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['five'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of Vim and Vigor")
  statement#default
  responses
  statements
    statement#default
      text.
        In my mortal form, I got so excited when writing a new program, that I
        needed to slow down a bit! Typing <em>:wq!</em> to exit and save a file 
        was the exact contemplative break I needed in my workflow.
        <br/><br/>
        Even if you don't embrace the <a href="https://www.vim.org/">vim 
        lifestyle</a>, you're okay in my book. Go get that staff!
