- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['two'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of Incompatible Versions")
  statement#default
  responses
  statements
    statement#default
      text.
        The great schism of Python 2.7 to Python 3 was a trying time for us all.
        Initiates required great courage and fortitude to persevere through the 
        bugs and frustrations of this breaking change.<br/><br/>
        I sense the same determination in you, initiate. Go with my knowledge,
        and may the Wise Mother coil around you in your time of need.
