- 
  const STATE_KEY = 'pythonWorldState';
  const worldState = getState(STATE_KEY) || {};
  worldState.clues['three'] = true;
  worldState.cluesFound = Object.keys(worldState.clues).length;
  setState(STATE_KEY, worldState);

conversation(display_name="Sage of List Comprehensions")
  statement#default
  responses
  statements
    statement#default
      text.
        I simply cannot abide the presence of unsightly <em>for</em> loops.
        Ghastly things. That is why I gifted initiates with list comprehension,
        so their code can be as terse as an emotionally distant parent.<br/><br/>
        But alas, our conversation has gone on too long. Go with my knowledge,
        and the blessings of the Fullstack.
